@font-face{
     font-family: "gliny-hand-dense";
     src: url('../assets/fonts/gliny-hand-dense.ttf');
     font-display: swap;
}
@font-face{
     font-family: "futura";
     src: url('../assets/fonts/futura.ttf');
     font-display: swap;
}
@font-face{
  font-family: "futura-medium";
  src: url('../assets/fonts/futura-medium.ttf');
  font-display: swap;
}
@font-face{
  font-family: "futura-demiBold";
  src: url('../assets/fonts/futura-demiBold.ttf');
  font-display: swap;
}
@font-face{
  font-family: "futura-bold";
  src: url('../assets/fonts/futura-bold.ttf');
  font-display: swap;
}
@font-face{
  font-family: "futura-extrabold";
  src: url('../assets/fonts/futura-extrabold.ttf');
  font-display: swap;
}

:root {
  --themecolor: #2c2d2c;
  --hovercolor: black;
  --bgcolor: #fffdfd;
  --headerColor: #b1d56d;
  --fontColor: #cccccc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  color: #555;
  background-image: linear-gradient(to bottom right, #20d6d6, #b1d56d);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.resume{
  width: 8.5in;
  height: 12in;
  border-radius: 2px;
  background:  var(--themecolor);
  box-shadow: 13px 13px 20px #044728,
              -13px -13px 20px #28c7b248;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

/* --------------------headerContainer-------------------------------------- */
.upperHeader{
  margin-top: 50px;
}
.personalInfo{
     font-family: 'futura';
     margin-left: 2px;
     width: 560px;
     //border: 1px solid white;
     float: left;
}

.headerContainer{
     width: 560px;
}
.selfName{
     color: var(--headerColor);
     font-family: 'futura';
     font-size: 30px;
     letter-spacing: 5px;
     margin-left: 40px;
     font-weight: normal;
     
}
.selfDesignation{
    text-align: right;
     margin-top: 10px;
     margin-left: 120px;
     color: white;
     font-size: 16px;
     letter-spacing: 4px;
     font-weight: lighter;
     font-family: 'futura-medium';
}

#leftPersonal{
    float: left;
    text-align: right;
    width: 340px; //-20
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}

#rightPersonal{
  display: block;
  float: right;
  width: 200px; //300
  background-color: var(--themecolor);
  margin-top: -210px;
  margin-right: 20px;
  text-align: right;
}


.image{
  width:  190px;
  height: 190px;
}

.image img{
  margin-left: 5px;
  margin-top: -5px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #ebebeb;
}

/* ----------------------------------------------right side hello card -----------------*/
.helloCard{
  float: right;
  width: 250px;
}

.helloCardLeftLine{
  background-color: var(--fontColor);
  margin-top: 75px;
  margin-left: -5px;
  width: 115px;
  height: 1px;
}

.helloCardIcon{
  margin-top: -35px;
  margin-left: 110px;
  width: 95px;
}

.helloCardBottomPath{

  .smallDownwards{
    background-color: var(--fontColor);
    margin-top: -5px;
    margin-left: 150px;
    width: 1px;
    height: 30px;
  }
  
  .largeLeftwards, .smallLeftwards{
    background-color: var(--fontColor);
    margin-top: 0px;
    margin-left: 51px;
    width: 100px;
    height: 1px;
  }
  
  .largeDownwards{
    background-color: var(--fontColor);
    margin-top: -1px;
    margin-left: 50px;
    width: 1px;
    height: 60px;
  }
  
  .smallLeftwards{
    width: 25px;
    margin-left: 50px;
  }
  
}

.hello{
     margin-top: -20px;
     margin-left: 90px;
     color: var(--headerColor);
     font-size: 36px;
     letter-spacing: 6px;
     font-family: 'gliny-hand-dense';
     //font-style: italic;
}

.selfIntro{
  color: var(--fontColor);
  font-size: 12.5px;
 // border: 1px solid red;
  text-align: right;
  width: 330px;
  margin-left: -130px;
  margin-top: 10px;
  letter-spacing: 2px;

  p{
    font-family: 'futura';
  }
}

/* --------------------------Contact Section----------------- */



/* ------------------------------------------------------------------------------- */

@media print {
  html {
    height: 11in;
    width: 8.5in;
    overflow: hidden;
  }

  body {
    margin: 0;
  }

  .resume {
    width: 100%;
    box-shadow: none;
  }
}